<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document List</title>
    <link rel="stylesheet" href="/static/css/document-view.css" th:href="@{/css/document-view.css}">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar">
    <a th:href="@{/document-upload}" class="btn-upload">Upload</a>
</nav>

<table border="1">
    <thead>
    <tr>
        <th>Document Name</th>
        <th>Course Name</th>
        <th>Document</th>
        <th>Actions</th> <!-- New column for actions -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="document : ${document}">
        <td th:text="${document.document_name}"></td>
        <td th:text="${document.course_name}"></td>
        <td>
            <a class="document-link" th:href="@{/document-download/{document_id}(document_id=${document.document_id})}" th:download="${document.document_name}">
                View Document
            </a>
        </td>
        <td>
            <form th:action="@{/document-delete/{document_id}(document_id=${document.document_id})}" method="post">
                <button type="submit" class="btn-delete-row">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!-- Go Back to Faculty Dashboard Button -->
<div class="btn-back">
    <a th:href="@{/faculty-dashboard}" class="btn-faculty-dashboard">Go Back to Faculty Dashboard</a>
</div>

</body>
</html>
