<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Upload</title>
    <link rel="stylesheet" href="/static/css/document-upload.css" th:href="@{/css/document-upload.css}">
</head>
<body>

<h2>Upload Document</h2>

<form th:action="@{/document-upload}" th:object="${document}" method="post" enctype="multipart/form-data">
    <div>
        <label for="documentName">Document Name:</label>
        <input type="text" id="documentName" th:field="*{document_name}" required>
    </div>

    <div>
        <label for="courseName">Course Name:</label>
        <input type="text" id="courseName" th:field="*{course_name}" required>
    </div>

    <div>
        <label for="pdfLink">Upload Document:</label>
        <input type="file" id="pdfLink" th:field="*{document_pdf}" required>
        <div th:if="${#fields.hasErrors('document_pdf')}" th:errors="*{document_pdf}"></div>
    </div>

    <button type="submit">Upload</button>
</form>
</body>
</html>
