<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Dashboard</title>
    <link rel="stylesheet" href="/static/css/faculty-dashboard.css" th:href="@{/css/faculty-dashboard.css}">
</head>
<body>
<header>
    <div class="container">
        <h1>Hi <span th:text="${studentName}">Student</span>!</h1>
        <nav>
            <ul>
                <li><a th:href="@{/faculty-subject}" href="faculty-subject.html">Subjects</a></li>
                <li><a th:href="@{/document-view}" href="document-view.html">Documents</a></li>
                <li><a th:href="@{/faculty-assignment-view}" href="faculty-assignment-view.html">Assignment</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit">Logout</button>
                        <!-- CSRF token automatically added by Thymeleaf -->
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="container">
        <h2>Welcome to your faculty dashboard</h2>
        <p>Here you can view admissions, upload and delete documents and many more.</p>
    </div>
</main>
</body>
</html>
