<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{/css/forgot-password.css}">
</head>
<body>
<div class="container">
    <form th:action="@{/forgot-password}" method="post" th:object="${forgotPasswordDto}">
        <h1>Forgot Password</h1>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" th:field="*{email}" required/>
        </div>
        <div>
            <label for="securityQuestion">Security Question:</label>
            <select id="securityQuestion" name="selectedQuestion" th:field="*{question}" required>
                <option value="" disabled selected>Select your security question</option>
                <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                <option value="What was the name of your elementary school?">What was the name of your elementary school?</option>
            </select>
        </div>
        <div>
            <label for="securityAnswer">Answer:</label>
            <input type="text" id="securityAnswer" name="securityAnswer" th:field="*{answer}" required/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
        <div th:if="${error}">
            <p th:text="${error}">Invalid information</p>
        </div>
    </form>
</div>
</body>
</html>
