<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
    <form th:action="@{/login}" method="post" th:object="${loginDto}">

        <h1>Login</h1>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" th:field="*{email}" required/>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required/>
        </div>

        <div>
            <button type="submit">Login</button>
        </div>

        <div>
            <a th:href="@{/forgot-password}">Forgot Password?</a>
        </div>

        <div th:if="${param.error}">
            <p th:text="'Invalid email or password'">Invalid email or password</p>
        </div>

        <div th:if="${param.reset == 'success'}">
            <p>Password successfully reset</p>
        </div>

        <div th:if="${param.logout}">
            <p>You have been successfully logged out.</p>
        </div>

    </form>
</div>
</body>
</html>
