<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/reset-password.css}">
</head>
<body>
    <div class="container">
        <form th:action="@{/reset-password}" method="post" th:object="${resetPasswordDto}">
            <h1>Reset Password</h1>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" th:field="*{email}" readonly/>
            </div>
            <div>
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="new_password" th:field="*{new_password}" required/>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
            <div th:if="${param.error}">
                <p th:text="${error}">Failed to reset password.</p>
            </div>
        </form>
    </div>
</body>
</html>
